<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WS</title>

    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/vue@3.2.47-prod.js"></script>
    <script src="/js/template.js" defer></script>
</head>
<body>
    <header id="header" class="container" v-cloak></header>

    <main class="center">
        <div>
            <label for="username">帳號</label>
            <input type="text" id="username">
            <br>
            <label for="password">密碼</label>
            <input type="password" id="password">
            <br>
            <button class="btn">登錄</button>
        </div>
    </main>

    <footer id="footer" class="container"></footer>

</body>
</html>