<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WS</title>

    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/vue@3.2.47-prod.js"></script>
    <script src="/js/template.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body>
    <header id="header" class="container" v-cloak></header>

    <main class="container">
        <button onclick="addRows()" >新增</button>
        <div id="all-list">
        </div>
        <button onclick="submitRows()" >提交</button>
    </main>

    <footer id="footer" class="container"></footer>

    <script src="/js/main-list-fd.js"></script>
</body>
</html>