<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WS</title>

    <link rel="stylesheet" href="/css/member.css">

    <script src="/js/vue@3.2.47-prod.js"></script>
    <script src="/js/template.js" defer></script>
</head>
<body>
    <header id="header" class="container" v-cloak></header>

    <main>
        <div>
            <label for="name">名字</label>
            <input id="name" type="text">
            <br>
            <label for="old-password">舊密碼</label>
            <input id="old-password" type="password">
            <br>
            <label for="new-password">新密碼</label>
            <input id="new-password" type="password">
            <br>
            <label for="new-password-again">再次輸入新密碼</label>
            <input id="new-password-again" type="password">
            <br>
            <input type="submit" value="提交" class="btn">
        </div>
    </main>

    <footer id="footer" class="container"></footer>
</body>
</html>