@import url('style.css');
/* 
main {
    display:flex;
    align-items: center;
    justify-content: center;
} */

label {
    display: inline-block
}


.graph {
    width: 50%;
}

.graph * {
    margin: 0.2rem;
}


.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: rgba(198, 244, 239, 0.8); */
}


@media (max-width: 992px)  {
    .first-section {
        display: block
    }

    
    .graph {
        width: 100%;
    }

}