a {
    display: inline-block;
    text-decoration: none;
}

a:any-link{
    color: black
}

a:hover, a:focus {
    color: gray
}

li {
    display: inline-block;
}

label {
    display: block;
}

input {
    display: block
}
